body {
    background: linear-gradient(135deg, #000000, #102157, #198fff);
}

h1{
    color: white;
    text-align: center;
}

header{
    background: linear-gradient(135deg, #000000, #102157, #198fff);
    text-align: center;
}

section {
    background: linear-gradient(135deg, #000000, #102157, #198fff);
    color: white;
}

h2 {
    background: linear-gradient(135deg, #000000, #102157, #198fff);
    color: white;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
button {
    background: linear-gradient(135deg, #000000, #102157, #198fff);
}

.description {
    text-align: center;
}

img {
    border-radius: 50%;
}

.social-icons {
    display: flex;
    list-style: none;
    gap: 15px;
    padding: 0;
}
